.invisibleClass {
    visibility: hidden;
}
.visibleClass {
    visibility: visible;
}
div {
    color: aquamarine;
    font-family: 'Permanent Marker', cursive;
}
#titleFont {
    font-family: 'Press Start 2P', cursive;
}